body{
    background-image:url('slike/Pirelli_Formula-1_2013_11.jpg');
    
    }
    body a
{ color: #FFFFFF;
text-decoration: none;}

body a:hover
{ color: #f0f010;}
#wraper
{
height:100%;
width: 900px;
margin:0px auto;
}

#heder{
width: 900px;
height: 230px;
}

#nav{
float:left;
width: 900px;
height: 30px;
background-color: #00BFFF;
line-height: 40px;
font-size: 13pt;
}

#nav ul{
position:relative;
left:200px; 
margin:0;
list-style-type: none;
}

#nav ul li{
margin: 0; 
padding:0;
}

#nav li a{
float:left;
margin-right:95px;
text-decoration: none;
}
#nav li a:hover{
color: #FFFF00;
}

#levakolona{
float: left;
width: 150px;
background-color:#00BFFF;
height: 620px;
}
#levakolona ul{
position:relative;
right:5px;
margin:0;
list-style-type: none;}

#gume
{
float: left;
width: 750px;
height: 620px;
font-size: 12pt;
background-color:#FFFFFF;
}
#gume p
{
text-indent:50px;
padding-left:8px;
}
div.img
{
  margin: 5px;
  padding: 2px;
  border: 1px solid #0000ff;
  height: auto;
  width: auto;
  float: left;
  text-align: center;
}	
h2 {text-decoration:line-through;}
h3 {text-decoration:underline;}
div.img img
{
  display: inline;
  margin: 5px;
  border: 1px solid #ffffff;
}
div.img a:hover img {border: 1px solid #0000ff;}
div.desc
{
  text-align: center;
  font-weight: normal;
  width: 120px;
  margin: 5px;
}
#futer
{
float:left;
width: 900px;
height:40px;
font-size:13;
background-color:#00BFFF;
}

